/* 1. Usar un modelo de box-sizing más intuitivo */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Quitar el margen por defecto */
*:not(dialog) {
    margin: 0;
}

/* 3. Habilitar animaciones por palabra clave */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Aumentar el interlineado */
    line-height: 1.5;
    /* 5. Mejorar el renderizado de texto */
    -webkit-font-smoothing: antialiased;
}

/* 6. Mejorar los valores por defecto de los medios */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Heredar la fuente en los controles de formulario */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Evitar desbordes de texto */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Mejorar el ajuste de línea */
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Crear un contexto de apilamiento raíz
*/
#root,
#__next {
    isolation: isolate;
}

#container {
    display: flex;
    height: 100vh;
}

#sidebar {
    flex: 0 0 20%;
}

#map {
    height: 100%;
    flex: 1;
}

.numbered-marker {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3388ff;
    color: #fff;
    border-radius: 50%;
    border: 1px solid black;
    font-weight: bold;
    line-height: 1;
}

.leaflet-marker-icon {
    display: flex;
}

#point-list {
    list-style: none;
    padding-left: 0;
}

.point-item{
    border: 1px solid black;
}
